body
{
    background-color:darkcyan;
    margin: 0px;
}


a:hover
{
    color:darkgrey;
}
.prueba
{
    float:right;
}
.test
{
    float: right;
    background-color:cyan;
    width: 80%;
    height: 25vh;
}

.menu 
{
    padding-left: 10px;
    text-decoration: none;
    color: grey;
    background-color: beige;
    width: 20%;
    height: 100vh;
}
