body
{

    background-color:darkcyan;
    margin:0px;
}

#menu
{
    background-color:darkgrey;
    width: 20%;
    float: left;


}

.menu 
{
    background-color: beige;
    margin: 30px 100px;
    padding: 20px;
    width: 20%;
    height: 200px;
}

#cuerpo
{
    background-color:darkmagenta;
    width: 80%;
    float: right;

    
}