body
{

    background-color:darkcyan;
    margin:0px;
}

#menu
{
    background-color:darkgrey;
    width: 20%;
    float: left;


}

#cuerpo
{
    background-color:darkmagenta;
    width: 80%;
    float: right;

}